body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  -webkit-box-shadow: 5px 0 15px rgba(0,0,0,0.2), -5px 0 15px rgba(0,0,0,0.2);
          box-shadow: 5px 0 15px rgba(0,0,0,0.2), -5px 0 15px rgba(0,0,0,0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-header {
  width: 1200px;
  position: relative;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  left: 530px;
}

.navigation-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:focus {
  color: #b2b2b2;
}

.navigation-list li {
  width: 240px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 72px;
  padding-right: 72px;

  white-space: nowrap;
}

.navigation-list li:nth-child(3),
.navigation-list li:nth-child(4) {
  text-align: right;
}

.navigation-list li:nth-child(3) {
  margin-left: 244px;
}

.promo {
  background-image: url("../img/background-photo.jpg");
  background-position: center -58px;
  background-repeat: no-repeat;
  background-color: #85aecd;
  padding-bottom: 70px;
  position: relative;
  z-index: 0;
}

.padding-logo-site {
  padding: 0;
  margin: 0;
}

.padding-logo-site img {
  margin-top: 76px;
}

.promo::after {
  content: "";

  position: absolute;
  bottom: -4px;
  left: 0px;
  width: 1200px;
  height: 60px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

.paragraph-of-reasons {
  font-weight: 400;
}

.promo p {
  text-align: center;
}

.description-title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;

  width: 440px;
  margin-top: 60px;
  margin-left: 380px;
  padding-top: 0;
}

.paragraph-of-reasons {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;

  width: 500px;
  margin-top: 26px;
  margin-left: 350px;
  padding-bottom: 38px;
}

.reasons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.reasons li {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}

.reasons-item h3 {
  font-size: 21px;
  line-height: 21px;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
}

.reasons-item:nth-of-type(1),
.reasons-item:nth-of-type(2) {
  background-color: #81b3d2;
  color: #ffffff;
}

.reasons-item:nth-of-type(1) {
  margin-right: 800px;
  position: relative;
}

.reasons-item:nth-of-type(1)::after {
  content: "";

  position: absolute;
  height: 256px;
  width: 800px;
  margin-left: 400px;
  top: 0;
  left: 0;
  background-image: url("../img/first-reason-image.jpg");
  background-repeat: no-repeat;
  background-color: #595142;
}

.reasons-item:nth-of-type(2) {
  margin-left: 800px;
  position: relative;
}

.reasons-item:nth-of-type(2)::before {
  content: "";

  position: absolute;
  height: 256px;
  width: 800px;
  margin-right: 400px;
  top: 0;
  right: 0;
  background-image: url("../img/second-reason-image.jpg");
  background-repeat: no-repeat;
  background-color: #956c59;
}

.reasons-item:nth-of-type(3),
.reasons-item:nth-of-type(4),
.reasons-item:nth-of-type(5) {
  background-color: #eeeeee;
}

.number-reason {
  font-weight: 400;
}

.reasons-item p {
  line-height: 21px;
  font-weight: 400;

  margin-top: 19px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 45px;
}

.reasons-item:nth-of-type(1) p {
  width: 290px;
}

.reasons-item:nth-of-type(2) p {
  width: 310px;
}

.reasons-item:nth-of-type(3) p {
  width: 220px;
}

.reasons-item:nth-of-type(4) p {
  width: 270px;
}

.reasons-item:nth-of-type(5) p {
  width: 255px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
}

.services-list li {
  min-width: 400px;
}

.servise-item p {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 68px;
}

.servise-item h3 {
  margin-top: 0;
  padding-top: 160px;
  position: relative;
}

.servise-item:nth-of-type(1) h3::before {
  content: "";

  position: absolute;
  height: 76px;
  width: 76px;
  top: 60px;
  left: 50%;
  margin-left: -37px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.servise-item:nth-of-type(2) h3::before {
  content: "";

  position: absolute;
  height: 76px;
  width: 76px;
  top: 60px;
  left: 50%;
  margin-left: -37px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.servise-item:nth-of-type(3) h3::before {
  content: "";

  position: absolute;
  height: 76px;
  width: 76px;
  top: 57px;
  left: 50%;
  margin-left: -33px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.paragraph-form {
  text-align: center;
  font-size: 30px;
  line-height: 36px;

  width: 320px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 24px;
}

.paragraph-date {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  width: 465px;
  margin: 0 auto;
  margin-bottom: 45px;

  color: #333333;
}

.hotel-search {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.hotel-search form {
  width: 568px;
  margin: 0 auto;
  position: relative;
  z-index: 1;

  background-color: #ffffff;
}

.hotel-search a {
  font-size: 21px;
  line-height: 26px;

  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 473px;
  color: #ffffff;
  background-color: #766357;
}

.open-form {
  position: relative;
}

.pop-up-form {
  display: none;
  position: absolute;
  top: 86px;
  left: 0;
  width: 568px;
  padding-top: 55px;
  padding-bottom: 55px;

  background-color: #ffffff;
  z-index: 2;
}

@-webkit-keyframes modal-show {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.6;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.modal-open {
  display: block;

  -webkit-animation: modal-show 0.6s;

          animation: modal-show 0.6s;
}

.open-form::after {
  content: "";

  position: absolute;
  z-index: 0;
  min-height: 474px;
  width: 1200px;
  top: 86px;
  left: 50%;
  margin-left: -600px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-color: #dde6ca;
}

.hotel-search a:hover {
  background-color: #604e43;
}

.hotel-search a:active {
  background-color: #503e33;
  color: #857871;
}

.hotel-search input {
  font: inherit;
  border: none;
  text-transform: uppercase;

  padding-top: 6px;
  padding-bottom: 6.5px;
  background-color: #f2f2f2;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.hotel-search input::-webkit-input-placeholder {
  color: #000000;
}

.hotel-search input::-moz-placeholder {
  color: #000000;
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  width: 458px;
  position: relative;
}

.search-item input {
  padding-left: 12px;
  margin-bottom: 28px;
}

.search-item:nth-of-type(1) input,
.search-item:nth-of-type(2) input {
  width: 333px;
  margin-right: 0;
}

.search-item:nth-of-type(3) input,
.search-item:nth-of-type(4) input {
  padding: 0;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: center;
  text-transform: uppercase;

  border: none;
}

.search-item button {
  background-color: #f2f2f2;
}

.search-item:nth-of-type(1) button,
.search-item:nth-of-type(2) button {
  background-color: transparent;
}

.search-item label {
  padding-top: 6px;
  margin-right: auto;
}

.number-of-adults {
  padding-right: 13px;
}

.number-of-children {
  margin: 0;
  margin-left: 52px;
}

.button svg {
  fill: #cacaca;
}

.button:hover svg {
  fill: #000000;
}

.button:active svg {
  fill: #81b3d2;
}

.calendar-icon {
  position: absolute;
  right: 3px;
  bottom: 32px;
  height: 28px;
}

.search-button {
  background-color: #81b3d2;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  color: #88b6d1;

  background-color: #5496bd;
}

.search-item:nth-of-type(3) input,
.search-item:nth-of-type(4) input {
  margin-bottom: 55px;
  width: 38px;
  padding-left: 0;
  text-align: center;
}

.plus-icon,
.minus-icon {
  margin-bottom: 55px;
  padding: 0;
  height: 38px;
}

.plus-icon line,
.minus-icon line {
  stroke: #a9a9a9;
}

.plus-icon:hover line,
.minus-icon:hover line {
  stroke: #000000;
}

.plus-icon:active line,
.minus-icon:active line {
  stroke: #81b3d2;
}

.search-button {
  font-size: 21px;
  line-height: 26px;

  display: block;
  width: 458px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-footer {
  width: 1200px;
  padding: 36px 0;

  position: relative;
  z-index: 1;
  text-align: center;
  background-color: #ffffff;
}

.main-footer .footer-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visit-sedona {
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  width: 240px;
  margin-right: 204px;
  margin-left: 72px;
  padding-left: 8px;
  padding-top: 8px;
}

.footer-social {
  width: 150px;

  text-align: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active,
.social-button:active path {
  background-color: #5496bd;
  fill: #88b6d1;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-top: 2px;
  padding-right: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-academy {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;

  width: 240px;
  margin-right: 72px;
  margin-left: auto;
  text-align: center;
}

.logo-academy svg {
  fill: #231f20;
}

.logo-academy svg:hover {
  fill: #81b3d2;
}

.logo-academy svg:active {
  fill: #bdbbbc;
}

.landing-text {
  padding-top: 7px;
  padding-right: 8px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 29px;
  padding-bottom: 29px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting h3,
.sorting p {
  margin: 0;
}

.sorting h3 {
  font-size: 21px;
  line-height: 26px;
  margin-right: 48px;
  margin-left: 72px;
}

.sorting-point {
  margin-right: 38px;
}

.sorting-type a {
  margin-left: 33px;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:focus {
  color: #000000;
  border-bottom: none;
}

.sorting-current {
  color: #81b3d2;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 7px;
  padding: 0;
}

.sorting-list li {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-button {
  width: 70px;
  margin-left: 505px;
}

.sorting-button path {
  fill: #cacaca;
}

.sorting-button path:hover {
  fill: #231f20;
}

.sorting-button path:active {
  fill: #81b3d2;
}

.sorting-button-down path {
  fill: #81b3d2;
}

.sorting-button-down path:hover {
  fill: #81b3d2;
}

.rating {
  width: 240px;
  margin-left: 290px;
  text-align: right;
}

.catalog-item-image {
  margin-left: 72px;
  margin-top: 30px;
}

.hotels-current {
  color: #766357;
}

.inner-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
  background-image: url("../img/filter background.jpg");
  background-position: center -55px;
  background-repeat: no-repeat;
}

.housing-search {
  margin-left: 73px;
}

.filters {
  margin-right: auto;
}

.housing-search,
.filters {
  width: 252px;
  padding-bottom: 10px;
}

.housing-search h2,
.filters h2 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 800;

  padding-bottom: 8px;
  color: #ffffff;
}

.filter-item,
.housing-search-item {
  margin: 0;
  margin-bottom: 20px;
}

.filter-item label,
.housing-search-item label {
  position: relative;

  font-weight: 400;

  color: #ffffff;
  cursor: pointer;
}

.housing-search-item label{
  padding-left: 38px;
}

.filter-item label{
  padding-left: 43px;
}

.value-filter {
  margin-right: 72px;
  margin-top: 13px;
}

.housing-search-checkbox input[type="checkbox"] + .checkbox-indicator,
.filter-checkbox input[type="checkbox"] + .checkbox-indicator{
  position: absolute;
  top: -2px;
  left: 0px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.housing-search-checkbox input[type="checkbox"]:focus + .checkbox-indicator,
.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.housing-search-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator,
.housing-search-checkbox input[type="checkbox"]:disabled + .checkbox-indicator {
  content: "";

  position: absolute;
  top: -2px;
  left: 0px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator,
.housing-search-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on-disabled.svg");
}


.filter-range {
  width: 317px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 28px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  font-weight: 400;

  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  font-weight: 400;

  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0;
  margin-left: 86px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 33px;
  padding-right: 33px;


  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sorting-list{
  list-style: none;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list h3 {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 5px;
  padding: 0;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item a {
  color: #000000;
}

.catalog-item a:hover {
  color: #81b3d2;
}

.catalog-item a:focus {
  color: #b2b2b2;
}

.apartment-name {
  font-size: 21px;
  line-height: 26px;
}

.apartment-type,
.rental-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  display: inline-block;
  vertical-align: middle;
  width: 114px;
}

.apartment-info {
  width: 364px;
  margin-left: 30px;
  margin-top: 9px;
}

.catalog-info {
  margin: 0;
  margin-top: 11px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-info .more-info {
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: 3px;
  background-color: #81b3d2;
}

.catalog-info .more-info:hover {
  color: #ffffff;

  background-color: #669ec0;
}

.catalog-info .more-info:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.catalog-info .to-book {
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0;
  background-color: #766357;
}

.catalog-info .to-book:hover {
  color: #ffffff;

  background-color: #604e43;
}

.catalog-info .to-book:active {
  color: #857871;

  background-color: #503e33;
}

.rating-apartments {
  color: #8b8b8b;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 4px;
  background-color: #f2f2f2;
}

.stars-rating {
  background-image: url("../img/star.svg");
  background-repeat: space;
  margin-top: 30px;
  margin-bottom: 46px;
  padding: 6px;
  height: 5px;
  margin-left: auto;
  margin-right: 4px;
}

.rating-4 {
  width: 77px;
}

.rating-3 {
  width: 52px;
}

.rating-2 {
  width: 29px;
}
