body {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-header {
  width: 1200px;
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 530px;
}

.navigation-list {
  list-style: none;
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:hover {
  color: #81b3d2;
}

.navigation-list a:focus {
  color: #b2b2b2;
}

.navigation-list li {
  width: 240px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 72px;
  padding-right: 72px;

  white-space: nowrap;
}

.navigation-list li:nth-child(3),
.navigation-list li:nth-child(4) {
  text-align: right;
}

.navigation-list li:nth-child(3) {
  margin-left: 244px;
}

.promo {
  background-image: url("../img/background-photo.jpg");
  background-position: center -58px;
  background-repeat: no-repeat;
  padding-bottom: 70px;
}

.padding-logo-site {
  padding: 0;
  margin: 0;
  position: relative;
}

.padding-logo-site img {
  margin-top: 76px;
}

.padding-logo-site::after {
  content: "";

  position: absolute;
  bottom: -74px;
  left: 0px;
  width: 1200px;
  height: 60px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

.paragraph-of-reasons {
  font-weight: 400;
}

.promo p {
  text-align: center;
}

.description-title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;

  width: 440px;
  margin-top: 60px;
  margin-left: 380px;
  padding-top: 0;
}

.paragraph-of-reasons {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;

  width: 500px;
  margin-top: 26px;
  margin-left: 350px;
  padding-bottom: 50px;
}

.reasons {
  list-style: none;
  display: flex;
  margin: 0;
}

.services-list {
  list-style: none;
  margin: 0;
}

.paragraph-form {
  text-align: center;
  font-size: 30px;
  line-height: 36px;

  width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 24px;
}

.paragraph-date {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;

  width: 465px;
  margin: 0 auto;
  margin-bottom: 128px;

  color: #333333;
}

.hotel-search {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.hotel-search form {
  width: 568px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  transform: translateY(-85px);
  background-color: #ffffff;
  padding-bottom: 55px;
}

.hotel-search a {
  font-size: 21px;
  line-height: 26px;

  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 55px;
  color: #ffffff;
  background-color: #766357;
}

.hotel-search::after {
  content: "";

  position: absolute;
  z-index: 0;
  height: 474px;
  width: 1200px;
  transform: translateY(-475px);
  left: 50%;
  margin-left: -600px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}

.hotel-search a:hover {
  background-color: #604e43;
}

.hotel-search a:active {
  background-color: #503e33;
  color: #857871;
}

.hotel-search input {
  font: inherit;
  border: none;
  text-transform: uppercase;

  padding-top: 6px;
  padding-bottom: 6.5px;
  background-color: #f2f2f2;
}

.hotel-search input:hover {
  background-color: #ebebeb;
}

.hotel-search input:focus {
  background-color: #ffffff;
}

.hotel-search input::-webkit-input-placeholder {
  color: #000000;
}

.hotel-search input::-moz-placeholder {
  color: #000000;
}

.search-item {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  width: 458px;
  position: relative;
}

.search-item input {
  padding-left: 12px;
  margin-bottom: 30px;
}

.search-item:nth-of-type(1) input,
.search-item:nth-of-type(2) input {
  width: 333px;
  margin-right: 0;
}

.search-item:nth-of-type(3) input,
.search-item:nth-of-type(4) input {
  padding: 0;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: center;
  text-transform: uppercase;

  border: none;
}

.search-item button {
  background-color: #f2f2f2;
}

.search-item label {
  padding-top: 6px;
  margin-right: auto;
}

.number-of-adults {
  padding-right: 13px;
}

.number-of-children {
  margin: 0;
  margin-left: 55px;
}

.button svg {
  fill: #cacaca;
}

.button:hover svg {
  fill: #000000;
}

.button:active svg {
  fill: #81b3d2;
}

.calendar-icon {
  position: absolute;
  right: 3px;
  bottom: 32px;
  height: 28px;
}

.search-button {
  background-color: #81b3d2;
}

.search-button:hover {
  background-color: #669ec0;
}

.search-button:focus {
  color: #88b6d1;

  background-color: #5496bd;
}

.search-item:nth-of-type(3) input,
.search-item:nth-of-type(4) input {
  margin-bottom: 55px;
  width: 38px;
  padding-left: 0;
  text-align: center;
}

.plus-icon,
.minus-icon {
  margin-bottom: 53px;
  padding: 0;
  height: 38px;
}

.plus-icon line,
.minus-icon line {
  stroke: #a9a9a9;
}

.plus-icon:hover line,
.minus-icon:hover line {
  stroke: #000000;
}

.plus-icon:active line,
.minus-icon:active line {
  stroke: #81b3d2;
}

.search-button {
  font-size: 21px;
  line-height: 26px;

  display: block;
  width: 458px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-footer {
  width: 1200px;
  padding: 36px 0;

  position: relative;
  z-index: 1;
  text-align: center;
  background-color: #ffffff;
}

.main-footer .footer-container{
  display: flex;
}

.visit-sedona {
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  width: 240px;
  margin-right: 204px;
  margin-left: 72px;
  padding-left: 8px;
  padding-top: 8px;
}

.footer-social {
  width: 150px;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active,
.social-button:active path {
  background-color: #5496bd;
  fill: #88b6d1;
}

.footer-copyright {
  display: flex;
  margin: 0;
  padding-top: 2px;
  padding-right: 11px;
  justify-content: center;
}

.logo-academy {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;

  width: 240px;
  margin-right: 72px;
  margin-left: auto;
  text-align: center;
}

.logo-academy svg {
  fill: #231f20;
}

.logo-academy svg:hover {
  fill: #81b3d2;
}

.logo-academy svg:active {
  fill: #bdbbbc;
}

.landing-text {
  padding-top: 7px;
  padding-right: 8px;
}

.rating {
  width: 240px;
  margin-left: 290px;
  text-align: right;
}

.inner-page {
  margin-left: -17px;
}

.sotring-button path {
  fill: #cacaca;
}

.sotring-button path:hover,
.sotring-button path:hover {
  fill: #231f20;
}

.sotring-button path:active,
.sotring-button path:active {
  fill: #81b3d2;
}

.catalog-item-image {
  margin-left: 72px;
  margin-top: 30px;
}

.hotels-current {
  color: #766357;
}

.sorting-list{
  list-style: none;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list h3 {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 5px;
  padding: 0;
}

.catalog-item {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item a {
  color: #000000;
}

.catalog-item a:hover {
  color: #81b3d2;
}

.catalog-item a:focus {
  color: #b2b2b2;
}

.apartment-name {
  font-size: 21px;
  line-height: 26px;
}

.apartment-type,
.rental-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  display: inline-block;
  width: 114px;
}

.apartment-info {
  width: 364px;
  margin-left: 30px;
  margin-top: 9px;
}

.catalog-info {
  margin: 0;
  margin-top: 11px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-info .more-info {
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: 3px;
  background-color: #81b3d2;
}

.catalog-info .more-info:hover {
  color: #ffffff;

  background-color: #669ec0;
}

.catalog-info .more-info:active {
  color: #88b6d1;

  background-color: #5496bd;
}

.catalog-info .to-book {
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  margin: 0;
  background-color: #766357;
}

.catalog-info .to-book:hover {
  color: #ffffff;

  background-color: #604e43;
}

.catalog-info .to-book:active {
  color: #857871;

  background-color: #503e33;
}

.rating-apartments {
  color: #8b8b8b;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 4px;
  background-color: #f2f2f2;
}

.stars-rating {
  background-image: url(../img/star.svg);
  background-repeat: space;
  margin-top: 30px;
  margin-bottom: 46px;
  padding: 6px;
  height: 5px;
  margin-left: auto;
  margin-right: 4px;
}

.rating-4 {
  width: 77px;
}

.rating-3 {
  width: 52px;
}

.rating-2 {
  width: 29px;
}
